.category .vegetable {
    display: flex;
    width: 20vh;
    height: 20vh;
}
.category .fruits {
    display: flex;
    width: 20vh;
    height: 20vh;
}

.category .vegetable . {
    display: flex;
    width: 20vh;
    height: 20vh;
}