:root {
    --color1: green;
    --color2: red;
    --color3: rgb(54, 15, 224);
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: 400;
}

#dropdown-basic {
    outline: none;
    border: none;
    margin: 0px;
    padding: 0px;
}